h1{
	
	font-family: 'Franklin Gothic Medium';
	margin: 400px;
	margin-top: 20%;
	position: absolute;
}

.ProfilePicture{
	position: absolute;
	margin-left: 45%;
	margin-top: 2%
}

.left-V {
	margin-top:10px;
	margin-left: 22px;
	height: 100px;
	width: 20px;
	border-bottom-right-radius: 25px;
	background-color:#ff8d1e;
	float: left;
transform: rotate(25deg);
animation: rotation 3s infinite alternate;


}

.right-V {
	margin-top:10px;
	margin-left: 60px;
	height: 100px;
	width: 20px;
	background-color: #eae017;
	float: left;
	border-bottom-left-radius: 25px;
	display: inline-block;
transform: rotate(-25deg);
animation: rotation2 3s infinite alternate;
}

@keyframes rotation{

	50% {
		transform: rotate(25deg);
		margin-top:10px;
		}

	100% {
		transform: rotate(1105deg);
		margin-top:100px;
	}

}

@keyframes rotation2{
	
	50% {
		transform: rotate(-25deg);
		margin-top:10px;
	
	}

	100% {
		transform: rotate(-1105deg);
		margin-top:100px;
		}
}

@keyframes vanish-spin{
	0%{
		transform: rotate(0deg);
	}
	
	100%{
		transform: rotate(1080deg);
		opacity: 0;

	
	}
}

.video1{
	display: inline-block;
	border: 10px solid #ff8d1e;
	
	padding: -50px;
	width: 400px;
	height: auto;
	margin-top: 5%;
margin-left: 10%;
position: absolute;

}

.header{
	margin-top: -10px;
	margin-left: -10px;
	background-color: dodgerblue ;
	height: 80%;
	width: 100%;
}
.footer{
	height: 20%;
	width: 100%;
	margin-top: -20px;
	margin-left: -10px;
	background-color: #353535;


}


.icon{
	display: inline-block;
	margin-top: 3%;
	margin-left: 15%;
	height: 100px;
	width: 100px;
}

 .icon:hover img{
	animation: vanish-spin 1s linear;
	animation-fill-mode: forwards;

}
.text{
	font-family: Ubuntu;
	font-size: 30px;
	color:white;
	text-align: center;
	margin-top: -50px;
	position: absolute;
	visibility: hidden;
}
.icon:hover .text{
	
	visibility: visible
}

